<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
    <display-name>KlientLogin</display-name>
    <servlet-name>KlientLogin</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.KlientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KlientLogin</servlet-name>
    <url-pattern>/KlientLogin</url-pattern>
  </servlet-mapping>
  	<servlet>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>KlientRegistry</display-name>
    <servlet-name>KlientRegistry</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.KlientRegistry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KlientRegistry</servlet-name>
    <url-pattern>/KlientRegistry</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>KlientEdit</display-name>
    <servlet-name>KlientEdit</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.KlientEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KlientEdit</servlet-name>
    <url-pattern>/KlientEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ZnajdzAuto</display-name>
    <servlet-name>ZnajdzAuto</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.ZnajdzAuto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZnajdzAuto</servlet-name>
    <url-pattern>/ZnajdzAuto</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AutoRegistry</display-name>
    <servlet-name>AutoRegistry</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AutoRegistry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoRegistry</servlet-name>
    <url-pattern>/AutoRegistry</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>AutoInfo</display-name>
    <servlet-name>AutoInfo</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AutoInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInfo</servlet-name>
    <url-pattern>/AutoInfo</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>KlientInfo</display-name>
    <servlet-name>KlientInfo</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.KlientInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KlientInfo</servlet-name>
    <url-pattern>/KlientInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AktualneInfo</display-name>
    <servlet-name>AktualneInfo</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AktualneInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AktualneInfo</servlet-name>
    <url-pattern>/AktualneInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>HistoriaInfo</display-name>
    <servlet-name>HistoriaInfo</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.HistoriaInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoriaInfo</servlet-name>
    <url-pattern>/HistoriaInfo</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>AktualneModify</display-name>
    <servlet-name>AktualneModify</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AktualneModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AktualneModify</servlet-name>
    <url-pattern>/AktualneModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>HistoriaModify</display-name>
    <servlet-name>HistoriaModify</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.HistoriaModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoriaModify</servlet-name>
    <url-pattern>/HistoriaModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AutoWypozycz</display-name>
    <servlet-name>AutoWypozycz</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AutoWypozycz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoWypozycz</servlet-name>
    <url-pattern>/AutoWypozycz</url-pattern>
  </servlet-mapping>
 <servlet>
    <display-name>AktualneWypozycz</display-name>
    <servlet-name>AktualneWypozycz</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AktualneWypozycz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AktualneWypozycz</servlet-name>
    <url-pattern>/AktualneWypozycz</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>HistoriaKlientInfo</display-name>
    <servlet-name>HistoriaKlientInfo</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.HistoriaKlientInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoriaKlientInfo</servlet-name>
    <url-pattern>/HistoriaKlientInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AktualneKlientInfo</display-name>
    <servlet-name>AktualneKlientInfo</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AktualneKlientInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AktualneKlientInfo</servlet-name>
    <url-pattern>/AktualneKlientInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AktualneEdit</display-name>
    <servlet-name>AktualneEdit</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AktualneEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AktualneEdit</servlet-name>
    <url-pattern>/AktualneEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>HistoriaEdit</display-name>
    <servlet-name>HistoriaEdit</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.HistoriaEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoriaEdit</servlet-name>
    <url-pattern>/HistoriaEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AktualneInfoAdmin</display-name>
    <servlet-name>AktualneInfoAdmin</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AktualneInfoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AktualneInfoAdmin</servlet-name>
    <url-pattern>/AktualneInfoAdmin</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>RezerwacjaAuta</display-name>
    <servlet-name>RezerwacjaAuta</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.RezerwacjaAuta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RezerwacjaAuta</servlet-name>
    <url-pattern>/RezerwacjaAuta</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AktualneRezerwacja</display-name>
    <servlet-name>AktualneRezerwacja</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AktualneRezerwacja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AktualneRezerwacja</servlet-name>
    <url-pattern>/AktualneRezerwacja</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UsunAktualne</display-name>
    <servlet-name>UsunAktualne</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.UsunAktualne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsunAktualne</servlet-name>
    <url-pattern>/UsunAktualne</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>UsunAuto</display-name>
    <servlet-name>UsunAuto</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.UsunAuto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsunAuto</servlet-name>
    <url-pattern>/UsunAuto</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UsunKlient</display-name>
    <servlet-name>UsunKlient</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.UsunKlient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsunKlient</servlet-name>
    <url-pattern>/UsunKlient</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>AnulujWypozyczenie</display-name>
    <servlet-name>AnulujWypozyczenie</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AnulujWypozyczenie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnulujWypozyczenie</servlet-name>
    <url-pattern>/AnulujWypozyczenie</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>AnulujRezerwacja</display-name>
    <servlet-name>AnulujRezerwacja</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AnulujRezerwacja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnulujRezerwacja</servlet-name>
    <url-pattern>/AnulujRezerwacja</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PanelUwagi</display-name>
    <servlet-name>PanelUwagi</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.PanelUwagi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanelUwagi</servlet-name>
    <url-pattern>/PanelUwagi</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ZnajdzAutoPoDacie</display-name>
    <servlet-name>ZnajdzAutoPoDacie</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.ZnajdzAutoPoDacie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZnajdzAutoPoDacie</servlet-name>
    <url-pattern>/ZnajdzAutoPoDacie</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AutaPoDatach</display-name>
    <servlet-name>AutaPoDatach</servlet-name>
    <servlet-class>p.lodz.pl.wypozyczalnia.kontroler.AutaPoDatach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutaPoDatach</servlet-name>
    <url-pattern>/AutaPoDatach</url-pattern>
  </servlet-mapping>
</web-app>